<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tbody>

        <!--
        Aquí se esta utilizando la dependencia thymeleaf creando un bucle para
        recorrer todos los usuarios que se envian desde el model en el controlador.
        -->
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.priority}"></td>
            <td><a th:href="@{/delete/} + ${user.id}" th:text="Delete"></a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/form}">Create User</a>
</div>
</body>
</html>